TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
APP_NAME=EmailComposerBackend
APP_URL=http://localhost:3333
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false

DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_DATABASE=email_composer

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

VITE_APP_NAME=EmailComposerBackend
